html {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}


body {
  background: url(./img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }



.window {
  display: flex;
  position: sticky;
  width: 80%;
  max-width: 600px;
  height: 400px;
  margin: 0  auto;
  top: 0px;
  
  


    
   
    align-items: center;
 
    justify-content: center;
    overflow: auto;
  
  
  
  }

  .window__img {
    display: block;
    width: 100%;
    height: auto;
    position: sticky;
    margin: 0 auto;
    padding:0;
    
  }

  #text {
    
    padding: 10px;
    color: rgb(128,0,0);
  }
  
  #game {
    color: black;
    width: 70%;
    height: auto;
    position: absolute;
    max-width: 500px;
    max-height: 400px;
    overflow: scroll;
    top: 150px;
    
    
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }